.rem {
  font-size: clamp(1.5rem, -0.1071428571rem + 8.0357142857vw, 3.75rem);
}

.px {
  font-size: clamp(24px, -1.7142857143px + 8.0357142857vw, 60px);
}

.rem-lg {
  font-size: clamp(1.5rem, 0.4772727273rem + 5.1136363636vw, 3.75rem);
}

.px-lg {
  font-size: clamp(24px, 7.6363636364px + 5.1136363636vw, 60px);
}