.hoge::before, .hoge::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.hoge::before {
  margin-top: calc((1 - 1.75) * 0.5em);
}
.hoge::after {
  margin-bottom: calc((1 - 1.75) * 0.5em);
}